body {
    /*font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;*/
    /*font-size: 16px;*/
    font: 16px "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans", STHeiti;
    background-image: url(/static/bg.jpg);
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, p, nav, div {
    padding:0;
    margin:0;
    color: #111;
}
h2, h3, h4, h5, p {
    margin-bottom: 12px;
}
.left {text-align:left};
.right {text-align:right};
h1, h2, h3 {font-weight: bold}
h1 { font-size: 48px; letter-spacing: .1em; text-shadow: grey 2px 2px 2px}
h2 { font-size: 36px}
h3 { font-size: 24px}
h4 { font-size: 21px}
h5 { font-size: 18px}
p {
    font-family: verdana;
    font-size: 16px;
    line-height: 1.6em;
    text-align: justify;
}

a {
    color: #518CC6;
    text-decoration: none;
}

a:hover {
    background: #518CC6;
    color: white;
}

blockquote {

}
.container {
    margin-top: 1em;
    background-color: white;
    box-shadow: 10px 10px 5px #888;
    border-radius: 10px;
    padding: 1em;
}
.wiki_content table{border-collapse: collapse}
.wiki_content th, .wiki_content tr, .wiki_content td {border: 1px solid black;margin:0;padding:0}
.wiki_content th {background: #CCC;color:white}

.wiki_content h2 {
    font-size: 24px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #CCC;
}

pre {
    border: 1px solid #CCC;
    margin:0;
    padding:1em;
    color: grey;
    font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

.header {
    background-color: #465158;
    color:white;
    margin:0;
    padding: 1em 8em;
}
.header a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: .5em 1em;
}

.meta {
    font-size: 0.85em;
    color: rgba(69,54,37,0.8);
    font-style: italic;
    border-bottom: 1px solid rgba(69,54,37,0.2);
}
.meta label {
    text-transform: capitalize;
    font-style: normal;
}

.wiki_sidebar {
    padding-top: 2em;
}

.wiki_content p {
    color: black;
}

.wiki_content h2 {
    font-size: 24px;
}

.wiki_editor {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E4E4E4;
    border-radius: 1em 1em 1em 1em;
    padding: 1em;
}

input[type=text], input[type=password] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #000000;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    margin: 1em 0 0.4em;
    padding: 0.5em;
    /*width: 750px;*/
}
textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    font-family: Consolas,Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace;
    font-size: 1em;
    height: 20em;
    /*line-height: 1.7em;*/
    margin: 1em 0 0.4em;
    padding: 0.5em;
    width: 750px;
}
.action_button {
    background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    /*display: block;*/
    font-weight: bold;
    height: 1.4em;
    margin: 0;
    padding: 0.4em 1em;
    text-shadow: 0 1px 0 #FFFFFF;
}

a.action_button:hover {
    background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

ul {list-style-position: inside;}
/* module list*/
.module-list ul {margin:0;padding:0}
.module-list { padding: 8px; background: #E6E6E6; background: rgba(0, 0, 0, 0.1); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.module-list-wrapper { border: 1px solid #bfbfbf; border: 1px solid #bfbfbf; border-bottom: none; }
.module-list .count { float: right; font-size: .9em; color: #aaa; }
.module-item { position: relative; border-bottom: 1px solid #bfbfbf; padding: 10px; }
.module-item p { margin: 0; }

/* module item title */
.module-item .module-item-title { font-weight: bold; font-size: 16px; text-decoration: none; }
.module-item a.module-item-title:hover { text-decoration: underline; }

/* module item */
.module-item { background: #fff; }

/* right module menu */
.module-list ul { list-style-type: none}
.module-item .module-item-menu { position: absolute; right: 0; top: 0; z-index: 5; }
.module-item .module-item-menu li { display: block; float: left; }
.module-item .module-item-menu li a { display: block; padding: 6px 10px 4px; margin: 7px 7px 0 0; font-weight: bold; font-size: 14px; height: 20px; line-height: 17px; text-decoration: none; color: #fff; background: #8CA1AF url(../images/gradient-light.png) bottom left repeat-x; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 1px #465158; -moz-box-shadow: 0 1px 1px #465158; -webkit-box-shadow: 0 1px 1px #465158; }
.module-item .module-item-menu li a:hover { background-color: #697983; box-shadow: 0 1px 0px #465158; -moz-box-shadow: 0 1px 0px #465158; -webkit-box-shadow: 0 1px 0px #465158; }

/* for links that span the column */
.module-item.col-span { border-bottom: 1px solid #bfbfbf; padding: 0; font-weight: bold; font-size: 16px; text-decoration: none; }
.module-item.col-span a { text-decoration: none; display: block; padding: 10px; }
.module-item.col-span a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; }

/* call out */
.module-list .module-item.call { padding: 0; }
.module-list .module-item.call a { display: block; padding: 30px; text-align: center; text-decoration: none; font-weight: bold; font-size: 18px; }
.module-list .module-item.call a:hover { background: #f3f3f3 url(../images/gradient-light.png) bottom left repeat-x; background-color: #8ECC4C; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-color: #8ECC4C; }

/* Success Model Item */
.module-item .success { float: right; }

.footer {
    margin-top: 20px;
    padding: 1em 8em;
    background-color: white;
    color:gray; 
    padding: 3em; 
    text-align:center
}
