$def with (page)
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="${wwwroot}/static/960.css" type="text/css" />
        <link rel="stylesheet" href="${wwwroot}/static/style.css" type="text/css" />
        <script type="text/javascript" src="${wwwroot}/static/yui.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/ptext.js"></script>
        $if page.has_key('title'):
            <title>$page.title</title>
        $else:
            <title>ptext wiki</title>
    </head>
    <body class="yui-skin-sam yui3-skin-sam">
        <div class="header">
            <a href="${wwwroot}/">Home</a>
            <a href="${wwwroot}index">Index</a>
            $if session.get('username'):
                <a href="${wwwroot}logout">Logout</a>
            $else:
                <a href="${wwwroot}reg">Register</a>
                <a href="${wwwroot}login">Login</a>
        </div>
        <div class="container container_12">
            $:page
        </div>
        <div class="footer">
            <p>Copyright (c) Dongsheng Cai</p>
            <p>Count: $session.count</p>
            $if session.get('username'):
                <p>loggedin</p>
            $else:
                <p>guest</p>
        </div>
    </body>
</html>
