$def with (page)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="${wwwroot}/static/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="${wwwroot}/static/jquery.treeview.css" media="screen" rel="stylesheet" type="text/css" />
        $if page.has_key('title'):
            <title>$page.title</title>
        $else:
            <title>My Wiki</title>
        <script type="text/javascript" src="${wwwroot}/static/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/jquery.autogrowtextarea.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/jquery.treeview.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/jquery.treeview.edit.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/jquery.treeview.async.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/ptext.js"></script>
        <script type="text/javascript" src="${wwwroot}/static/autoresize.jquery.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="${wwwroot}/">Home</a>
            <a href="${wwwroot}index">Index</a>
        </div>
        <div class="container container_12">
            $:page
        </div>
    </body>
</html>
