{% extends "base.html" %}

{% block page %}
<div id="wiki-content">
    <div class="wrap">
        <div id="wiki-body" class="gollum-markdown-content">
            <div id="template">{{ page.content }}</div>
        </div><!-- end of wiki-body -->
    </div><!-- end of wrap -->
</div><!-- end of wiki-content -->
{% endblock %}

{% block tags %}
    <div class="tags">
    {% for t in page.tags %}
        <span class="tag"><a href="{{wwwroot}}/tag/{{t.name}}" class="tag_link">{{t.name}}</a></span><span>&nbsp;</span>
    {% endfor %}
    </div>
{% endblock %}

{% block pageinfo %}
<p id="last-edit">

Last edit by <b>{{page.username}}</b>, {{page.modified}}

<label>Version:</label>  <strong>{{page.version}}</strong>
<label>PageID:</label>   <strong>{{page.id}}</strong>
<label>Created:</label>  <date>{{page.created}}</date>

</p>
{% endblock %}
